﻿@page
@model Library.Pages.Administration.BlockModel
@{
}

<div class="row">
	<form class="col s12" method="post">
		<input type="hidden" asp-for="Id" />
		<div class="row">
			<div class="input-field1 col s12">
				<label asp-for="DateBlocking">Дата блокировки</label>
				<input asp-for="DateBlocking"  />
				<span asp-validation-for="DateBlocking" class="text-danger"></span>
			</div>
		</div>
		<div class="modal-footer right">
			<button type="submit" class="btn">Заблокировать</button>
		</div>
	</form>
</div>

@section Scripts{
<script>

	$(document).ready(function(){
		$('.datepicker').datepicker();
		console.log($('.datepicker').datepicker())
	});

</script>
}
