﻿@page
@using Library.Infrastructure.Business.Interfaces
@model Library.Pages.Administration.DetailsModel
@inject ILocalizationService localizationService

<div class="row">
	<form class="col s12">
		<input type="hidden" asp-for="Id" />
		<partial name="_RegistrationPartial" model="Model.UserViewModel" />
		<div class="row">
			<div class="input-field col s12">
				<select>
					@foreach (var role in Enum.GetValues(Model.UserViewModel.Role.GetType()))
					{
						@if(Model.UserViewModel.Role.ToString() == role.ToString())
						{
							<option value="@((int) role)" selected>@localizationService[role.ToString()]</option>
							continue;
						}
						<option value="@((int) role)">@localizationService[role.ToString()]</option>
					}

				</select>
				<label>Роль</label>
			</div>
		</div>
	</form>
</div>