﻿@page
@using Library.Infrastructure.Business.Interfaces
@model Library.Pages.Administration.EditModel
@inject ILocalizationService localizationService

<div class="row">
	<form class="col s12" method="post" >
		<input type="hidden" asp-for="Id" />
		<partial name="_RegistrationPartial" model="Model.UserViewModel" />
		<div class="row">
			<div class="input-field col s12">
				<select>
					@foreach (var role in Enum.GetValues(Model.UserViewModel.Role.GetType()))
					{
						@if (Model.UserViewModel.Role.ToString() == role.ToString())
						{
							<option value="@((int) role)" selected>@localizationService[role.ToString()]</option>
							continue;
						}
						<option value="@((int) role)">@localizationService[role.ToString()]</option>
					}

				</select>
				<label>Роль</label>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<select>
						@foreach (var statusUser in Enum.GetValues(Model.UserViewModel.StatusUser.GetType()))
						{
							@if (Model.UserViewModel.StatusUser.ToString() == statusUser.ToString())
							{
								<option value="@((int) statusUser)" selected>@localizationService[statusUser.ToString()]</option>
								continue;
							}
							<option value="@((int) statusUser)">@localizationService[statusUser.ToString()]</option>
						}

					</select>
					<label>Статус пользователя</label>
				</div>
			</div>
		</div>
		<div class="modal-footer right">
			<button type="submit" class="btn">Обновить</button>
		</div>
	</form>
</div>


@section Scripts{
<script>

	$(document).ready(function(){
	  $('select').formSelect();
	});

</script>
}
