﻿@page
@using Library.Infrastructure.Business.Interfaces
@model Library.Pages.Administration.IndexModel
@inject ILocalizationService localizationService
@{
	ViewData["NamePage"] = "Administrator";
}

<main class="app-content">
	<div class="app-page">

		<div>
			<div class="page-title">
				<h3>Пользователи</h3>
			</div>

			<!-- Create User Modal Structure -->
			<div id="create-user" class="modal">
				<div class="modal-content">
					<div class="row">
						<form class="col s12" method="post">
							<partial name="_RegistrationPartial" model="Model.RegistrationViewModel" />
							<div class="row">
								<div class="input-field col s12">
									<select>
										<option value="" disabled selected>Выберите роль пользователя</option>
										<option value="0">Администратор</option>
										<option value="1">Библиотекарь</option>
										<option value="2">Пользователь</option>
									</select>
									<label>Роль</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<select>
										<option value="0" selected>Активный</option>
										<option value="1">Заблокированный</option>
									</select>
									<label>Статус пользователя</label>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn">Добавить</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<section>
				<button class="btn-small btn right green modal-trigger" data-target="create-user">
					<i class="material-icons" title="Добавление пользователя">add</i>
				</button>
				<table class="striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Имя</th>
							<th>Фамилие</th>
							<th>Отчество</th>
							<th>Почта</th>
							<th>Телефонный номер</th>
							<th>Тип роли</th>
							<th>Статус пользователя</th>
							<th></th>
						</tr>
					</thead>

					<tbody>

						@foreach (var user in Model.Users)
						{
							<tr>
								<td>@user.Id</td>
								<td>@user.FirstName</td>
								<td>@user.LastName</td>
								<td>@user.MiddleName</td>
								<td>@user.Email</td>
								<td>@user.Phone</td>
								<td>@localizationService[user.Role.ToString()]</td>
								<td>@localizationService[user.StatusUser.ToString()]</td>
								<td>
									<div class="row">
										<form class="col s3.5" method="post">
												<button class="btn-small btn red" asp-page="Delete" asp-page-handler="Remove" asp-route-id="@user.Id">
													<i class="material-icons" title="Удаление пользователя">delete</i>
												</button>
										</form>

										<a class="btn-small btn gray" asp-page="Block" asp-route-id="@user.Id">
											<i class="material-icons" title="Блокировка пользователя">block</i>
										</a>
										<a class="btn-small btn blue" asp-page="Edit" asp-route-id="@user.Id">
											<i class="material-icons" title="Обновление пользователя">edit</i>
										</a>
										<a class="btn-small btn green" asp-page="Details" asp-route-id="@user.Id">
											<i class="material-icons" title="Подробный просмотр пользователя">details</i>
										</a>
									</div>

								</td>
							</tr>
						}
					</tbody>
				</table>
			</section>
		</div>
	</div>
</main>
@section Scripts{
<script>

	$(document).ready(function(){
	  $('select').formSelect();
	   $('.modal').modal();
	});

</script>
}

