﻿@page
@model LoginModel

@{
	ViewData["Title"] = "Авторизация";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
	<div class="col-md-4">
		<section>
			<form id="account"  method="post">
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="input-field col s12 ">
					<label asp-for="Login.UserName"></label>
					<input asp-for="Login.UserName" class="form-control" />
					<span asp-validation-for="Login.UserName" class="text-danger"></span>
				</div>
				<div class="input-field col s12">
					<label asp-for="Login.Password"></label>
					<input asp-for="Login.Password" class="form-control" />
					<span asp-validation-for="Login.Password" class="text-danger"></span>
				</div>

				<p>
					<label asp-for="Login.RememberMe">
						<input asp-for="Login.RememberMe" type="checkbox" />
						<span>Запомнить меня?</span>
					</label>
				</p>

				<div class="card-action">
					<div>
						<button class="btn waves-effect waves-light auth-submit right"
								type="submit">
							Login
							<i class="material-icons right">send</i>
						</button>
					</div>

					<p class="center">
						У вас нету аккаунта?
						<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрируйтесь</a>
					</p>
					<p class="center">
						<a id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
					</p>
				</div>
			</form>
		</section>
	</div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
