﻿@page
@model RegisterModel
@{
	ViewData["NamePage"] = "Регистрация";
}

<h1>@ViewData["NamePage"]</h1>

<div class="row">
	<form class="col s12" asp-route-returnUrl="@Model.ReturnUrl" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
		<partial name="_RegistrationPartial" model="Model.RegistrationViewModel" />
		<div class="modal-footer">
			<button type="submit" class="btn right">Зарегистрироваться</button>
		</div>
	</form>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
