﻿@using Microsoft.AspNetCore.Identity
@using Library.Inrfrastructure.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Library</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar orange lighten-1">
			<div class="nav-wrapper">
				<div class="navbar-left">
					<span class="black-text">@ViewData["NamePage"]</span>
					<ul>
						@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-page="/Administration/Index">Работа с пользователями</a>
							</li>
						}

					</ul>
				</div>

				<partial name="_LoginPartial" />
			</div>
		</nav>
	</header>
	<main role="main" class="pb-3" style="margin-top: 100px;">
		<div class="container">
			@RenderBody()
		</div>
	</main>

	<footer class="page-footer ">
		<div class="footer-copyright">
			<div class="container center">
				&copy; 2021 - Library - <a asp-area="" asp-page="/Privacy">Privacy</a>
			</div>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
