﻿@model UserViewModel

@if (Model != default)
{
	@if (Model.IsDetails)
	{
		<div class="row">
			<div class="row">
				<div class="input-field col s12">
					<label asp-for="UserName">Логин</label>
					<input asp-for="UserName" class="form-control" disabled />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label asp-for="FirstName">Имя</label>
					<input asp-for="FirstName" class="form-control" disabled />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>
				<div class="input-field col s6">
					<label asp-for="LastName">Фамилие</label>
					<input asp-for="LastName" class="form-control" disabled />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
				<div class="input-field col s12">
					<label asp-for="MiddleName">Отчество</label>
					<input asp-for="MiddleName" class="form-control" disabled />
					<span asp-validation-for="MiddleName" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label asp-for="Password">Пароль</label>
					<input asp-for="Password" class="form-control" disabled />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="input-field col s6">
					<label asp-for="ConfirmPassword">Подтверждение пароля</label>
					<input asp-for="ConfirmPassword" class="form-control" disabled />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label asp-for="Email">Почта</label>
					<input asp-for="Email" class="form-control" disabled />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="input-field col s12">
					<label asp-for="Phone">Телефонный номер</label>
					<input asp-for="Phone" class="form-control" disabled />
					<span asp-validation-for="Phone" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label asp-for="StatusUser">Статус пользователя</label>
					<input asp-for="StatusUser" class="form-control"disabled />
					<span asp-validation-for="StatusUser" class="text-danger"></span>
				</div>
			</div>
		</div>
	}
	else
	{
		<div class="row">
			<div class="row">
				<div class="input-field col s12">
					<label asp-for="UserName">Логин</label>
					<input asp-for="UserName" class="form-control" />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label asp-for="FirstName">Имя</label>
					<input asp-for="FirstName" class="form-control" />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>
				<div class="input-field col s6">
					<label asp-for="LastName">Фамилие</label>
					<input asp-for="LastName" class="form-control" />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
				<div class="input-field col s12">
					<label asp-for="MiddleName">Отчество</label>
					<input asp-for="MiddleName" class="form-control" />
					<span asp-validation-for="MiddleName" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label asp-for="Password">Пароль</label>
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="input-field col s6">
					<label asp-for="ConfirmPassword">Подтверждение пароля</label>
					<input asp-for="ConfirmPassword" class="form-control" />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label asp-for="Email">Почта</label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="input-field col s12">
					<label asp-for="Phone">Телефонный номер</label>
					<input asp-for="Phone" class="form-control" />
					<span asp-validation-for="Phone" class="text-danger"></span>
				</div>
			</div>
			
		</div>

	}

}

else
{
	<div class="row">
		<div class="row">
			<div class="input-field col s12">
				<label asp-for="UserName">Логин</label>
				<input asp-for="UserName" class="form-control" />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<label asp-for="FirstName">Имя</label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="input-field col s6">
				<label asp-for="LastName">Фамилие</label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="input-field col s12">
				<label asp-for="MiddleName">Отчество</label>
				<input asp-for="MiddleName" class="form-control" />
				<span asp-validation-for="MiddleName" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<label asp-for="Password">Пароль</label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="input-field col s6">
				<label asp-for="ConfirmPassword">Подтверждение пароля</label>
				<input asp-for="ConfirmPassword" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<label asp-for="Email">Почта</label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="input-field col s12">
				<label asp-for="Phone">Телефонный номер</label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
		</div>
	</div>
}
